﻿@model UserResponseDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Picture)
		</dt>
		<dd class="col-sm-10 card-img">
			<a href="@Model.Picture">

				<img src="@Html.DisplayFor(model => model.Picture)" alt="Profile Picture" width="80" height="80">
			</a>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Username)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Username)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		@if (Model.Role == "Admin")
		{
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Phone)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Phone)
			</dd>
		}
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Role)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Role)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.RegisteredOn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.RegisteredOn)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Posts)
		</dt>
		<dd class="col-sm-10">
			<table>
				@foreach (var post in Model.Posts)
				{
					<tr>
						<td>
							<a asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId">@post.Title</a>
							<br>@post.Content.Substring(0, 10)...
						</td>
					</tr>
				}
			</table>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Comments)
		</dt>
		<dd class="col-sm-10">
			<table>
				@foreach (var comment in Model.Comments)
				{
					<tr>
						<td>
							<a asp-controller="Posts" asp-action="Details" asp-route-id="@comment.PostId">@comment.Title</a>
							<br>@comment.Content.Substring(0, 10)...
						</td>
					</tr>
				}
			</table>
		</dd>
	</dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
