﻿@model UserResponseDto

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
	<h4>User</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Picture)
		</dt>
		<dd class="col-sm-10 card-img">
			<a href="@Model.Picture">

				<img src="@Html.DisplayFor(model => model.Picture)" alt="Profile Picture" width="80" height="80">
			</a>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Username)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Username)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.FirstName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.FirstName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.LastName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.LastName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Email)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Email)
		</dd>
		@if (Model.Role == "Admin")
		{
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Phone)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Phone)
			</dd>
		}
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Role)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Role)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.RegisteredOn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.RegisteredOn)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Posts)
		</dt>
		<dd class="col-sm-10">
			<table>
				@foreach (var post in Model.Posts)
				{
					<tr>
						<td>
							<a asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId">@post.Title</a>
							<br>@post.Content.Substring(0, 10)...
						</td>
					</tr>
				}
			</table>
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Comments)
		</dt>
		<dd class="col-sm-10">
			<table>
				@foreach (var comment in Model.Comments)
				{
					<tr>
						<td>
							<a asp-controller="Posts" asp-action="Details" asp-route-id="@comment.PostId">@comment.Title</a>
							<br>@comment.Content.Substring(0, 10)...
						</td>
					</tr>
				}
			</table>
		</dd>
	</dl>
</div>
<div>
	@if (this.Context.Session.GetString("CurrentUserRole") == "Admin" || (this.Context.Session.GetString("CurrentUserRole") == "User" && this.Context.Session.GetString("CurrentUserId") == Model.UserId.ToString()))
	{
		<a asp-action="Edit" asp-route-id="@Model.UserId" class="btn btn-primary">Edit</a>
		<a asp-action="DeleteV" asp-route-id="@Model.UserId" class="btn btn-danger">Delete</a>
	}
	<a href="@ViewBag.Back" class="btn btn-secondary">Back</a>

</div>
