﻿@using Forum.Enums
@model UserResponseDto

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<input type="hidden" asp-for="UserId" />
			<input type="hidden" asp-for="Username" />
			<input type="hidden" asp-for="RegisteredOn" />


			<div class="form-group">
				<label asp-for="FirstName" class="control-label"></label>
				<input asp-for="FirstName" class="form-control bg-dark text-light" />
				<span asp-validation-for="FirstName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="LastName" class="control-label"></label>
				<input asp-for="LastName" class="form-control bg-dark text-light" />
				<span asp-validation-for="LastName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Email" class="control-label"></label>
				<input asp-for="Email" class="form-control bg-dark text-light" />
				<span asp-validation-for="Email" class="text-danger"></span>
			</div>
			@if (this.Context.Session.GetString("CurrentUserId") == Model.UserId.ToString())
			{
				<div class="form-group">
					<label name="Password" class="control-label">Password</label>
					<input type="password" name="password" class="form-control bg-dark text-light" />
					<span name="Password" class="text-danger"></span>
				</div>
			}
			else
			{
				<input type="hidden" name="password" />

			}
			<div class="form-group">
				<label asp-for="Picture" class="control-label"></label>
				<input asp-for="Picture" class="form-control bg-dark text-light" />
				<span asp-validation-for="Picture" class="text-danger"></span>
			</div>
			@if (Model.Role.ToString() == "Admin")
			{
				<div class="form-group">
					<label asp-for="Phone" class="control-label"></label>
					<input asp-for="Phone" class="form-control bg-dark text-light" />
					<span asp-validation-for="Phone" class="text-danger"></span>
				</div>
			}
			else
			{
				<input type="hidden" asp-for="Phone" />
			}
			@if (this.Context.Session.GetString("CurrentUserRole") == "Admin")
			{
				<div class="form-group">
					<label asp-for="Role" class="control-label"></label>
					<select asp-for="Role" class="form-control bg-dark text-light">
						@foreach (var role in Html.GetEnumSelectList<Roles>())
						{
							if (role.Text.Equals(Model.Role))
							{
								<option value="@role.Value" selected>
									@role.Text
								</option>
							}
							else
							{
								<option value="@role.Value">
									@role.Text
								</option>
							}
						}
					</select>
					<span asp-validation-for="Role" class="text-danger"></span>
				</div>
			}
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
