﻿@model IEnumerable<UserResponseDto>

@{
	ViewData["Title"] = "Index";

	var searchByU = "";
	var searchByE = "";
	var searchByF = "";

	switch (ViewData["searchBy"])
	{
		case "username":
			searchByU = "checked=\"checked\"";
			break;
		case "email":
			searchByE = "checked=\"checked\"";
			break;
		case "firstname":
			searchByF = "checked=\"checked\"";
			break;
	}

}

<h1>Index</h1>

<form asp-action="Index" class="form-check form-check-inline">
	<div class="form-group form-inline">
		<table class="formcontrols">
			<tr>
				<td>
					<h4><label for="searchBy">Search By:</label></h4>
				</td>
				<td style="padding-left:10px;">
					<input type="radio" name="searchBy" id="searchByUsername" value="username" @searchByU />
				</td>
				<td style="padding-left:10px;">
					<label for="searchByUsername">Username</label>
				</td>
				<td style="padding-left:10px;">
					<input type="radio" name="searchBy" id="searchByEmail" value="email" @searchByE />
				</td>
				<td style="padding-left:10px;">
					<label for="searchByEmail">Email</label>
				</td>
				<td style="padding-left:10px;">
					<input type="radio" name="searchBy" id="searchByFirstName" value="firstname" @searchByF />
				</td>
				<td style="padding-left:10px;">
					<label for="searchByFirstName">First Name</label>
				</td>
			</tr>
		</table>
		<br />
		<table class="formcontrols">
			<tr>
				<td style="padding-left:10px;">
					<label name="SearchQuery" class="control-label"><h3>Search users:</h3></label>
				</td>
				<td style="padding-left:10px;">
					<input name="SearchQuery" style="padding-left:10px;" class="form-control bg-dark text-light" value="@ViewData["UserSearch"]" />
				</td>
				<td style="padding-left:10px;">
					<input type="submit" value="Search" class="btn btn-primary" />
				</td>
				<td style="padding-left:10px;">
					<input type="checkbox" name="OrderBy" id="OrderBy" value="true" />
				</td>
				<td style="padding-left:10px;">
					<label for="OrderBy">Descending</label>
				</td>
			</tr>
		</table>
	</div>
</form>

<table class="table text-light">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Picture)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Username)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.FirstName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.LastName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Email)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Role)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.RegisteredOn)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					<a href="@item.Picture">
						<img src="@item.Picture" alt="Profile Picture" width="40" height="40">
					</a>
				</td>
				<td>
					<a asp-action="Details" asp-route-id="@item.UserId">@Html.DisplayFor(modelItem => item.Username)</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.FirstName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.LastName)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Email)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Role)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.RegisteredOn)
				</td>
				@if (this.Context.Session.GetString("CurrentUserRole") == "Admin" || (this.Context.Session.GetString("CurrentUserRole") == "User" && this.Context.Session.GetString("CurrentUserId") == item.UserId.ToString()))
				{
					<td>
						<a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-secondary">Edit</a>
						<a asp-action="DeleteV" asp-route-id="@item.UserId" class="btn btn-danger">Delete</a>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
@{
	string previousButtonState = (ViewBag.Pagination.HasPreviosPage) ? "" : "disabled";
	string nextButtonState = (ViewBag.Pagination.HasNextPage) ? "" : "disabled";
}
<div class="form-group form-inline">

	<a asp-controller="Posts" asp-action="Index"
	   asp-route-PageNumber="@(ViewBag.Pagination.PageNumber - 1)"
	   class="btn btn-link @previousButtonState">
		Previous
	</a>
	@ViewBag.Pagination.PageNumber / @ViewBag.Pagination.TotalPages
	<a asp-controller="Posts" asp-action="Index"
	   asp-route-PageNumber="@(ViewBag.Pagination.PageNumber + 1)"
	   class="btn btn-link @nextButtonState">
		Next
	</a>
</div>