﻿@{
	ViewData["Title"] = "Login";
}
@model LoginViewModel

<h4>@ViewData["Title"]</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Login">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Username" class="control-label"></label>
				<input asp-for="Username" class="form-control bg-dark text-light" />
				<span asp-validation-for="Username" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Password" class="control-label"></label>
				<input type="password" asp-for="Password" class="form-control bg-dark text-light" />
				<span asp-validation-for="Password" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Login" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>
<p>
	<a asp-action="Create" asp-controller="Users" class="btn btn-success">Register</a>
</p>
<div>
	<a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Back to Homepage</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
