﻿@model Forum.Models.Dtos.PostViewDto

@{
	ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
@if (this.Context.Session.GetString("CurrentUserRole") != "Blocked")
{
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="Title" class="control-label"></label>
					<input asp-for="Title" class="form-control bg-dark text-light" />
					<span asp-validation-for="Title" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Content" class="control-label"></label>
					<textarea asp-for="Content" class="form-control bg-dark text-light" rows="3"></textarea>
					<span asp-validation-for="Content" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Tags" class="control-label"></label>
					<input asp-for="Tags" class="form-control bg-dark text-light" />
					Enter tags separated by commas
					<span asp-validation-for="Tags" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-primary" />
				</div>
			</form>
		</div>
	</div>
}
else
{
	<p>
		<span class="text-danger">You are blocked!</span>
	</p>
}
<div>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
