﻿@model PostResponseDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Post</h4>
    <hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UpVotes)
		</dt>
		<dt class="col-sm-10">
			@if (this.Context.Session.GetString("CurrentUserRole") != null)
			{
				<a asp-action="UpvoteV" asp-route-id="@Model.PostId">&#10224;</a>
			}
			@Html.DisplayFor(model => model.UpVotes)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DownVotes)
		</dt>
		<dt class="col-sm-10">
			@if (this.Context.Session.GetString("CurrentUserRole") != null)
			{
				<a asp-action="DownvoteV" asp-route-id="@Model.PostId">&#10225;</a>
			}
			@Html.DisplayFor(model => model.DownVotes)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Content)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Content)
		</dd>
		<dt class="col-sm-2">
			Author
		</dt>
		<dd class="col-sm-10">
			@if (this.Context.Session.GetString("CurrentUserRole") != null)
			{
				<a asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">
					@Html.DisplayFor(model => model.AuthorUsername)
				</a>
			}
			else
			{
				@Html.DisplayFor(model => model.AuthorUsername)
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreatedOn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreatedOn)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ModifiedOn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ModifiedOn)
		</dd>
	</dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PostId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
