﻿@model PostResponseDto

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
	<h4>Post</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.UpVotes)
		</dt>
		<dt class="col-sm-10">
			@if (this.Context.Session.GetString("CurrentUserRole") != null)
			{
				<a asp-action="UpvoteV" asp-route-id="@Model.PostId">&#10224;</a>
			}
			@Html.DisplayFor(model => model.UpVotes)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.DownVotes)
		</dt>
		<dt class="col-sm-10">
			@if (this.Context.Session.GetString("CurrentUserRole") != null)
			{
				<a asp-action="DownvoteV" asp-route-id="@Model.PostId">&#10225;</a>
			}
			@Html.DisplayFor(model => model.DownVotes)
		</dt>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Title)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Title)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Tags)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Tags)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Content)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Content)
		</dd>
		<dt class="col-sm-2">
			Author
		</dt>
		<dd class="col-sm-10">
			@if (this.Context.Session.GetString("CurrentUserRole") != null)
			{
				<a asp-controller="Users" asp-action="Details" asp-route-id="@Model.AuthorId">
					@Html.DisplayFor(model => model.AuthorUsername)
				</a>
			}
			else
			{
				@Html.DisplayFor(model => model.AuthorUsername)
			}
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CreatedOn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CreatedOn)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ModifiedOn)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ModifiedOn)
		</dd>
	</dl>

	@foreach (var comment in Model.Comments)
	{
		<hr />
		<dl class="row">

			<dt class="col-sm-2">
				Comment by
				@if (this.Context.Session.GetString("CurrentUserRole") != null)
				{
					<a asp-controller="Users" asp-action="Details" asp-route-id="@comment.AuthorId">@Html.DisplayFor(postComment => comment.AuthorUsername)</a>
				}
				else
				{
					@Html.DisplayFor(postComment => comment.AuthorUsername)
				}
				@if (this.Context.Session.GetString("CurrentUserRole") == "Admin" || this.Context.Session.GetString("CurrentUserRole") == "Moderator" || (this.Context.Session.GetString("CurrentUserRole") == "User" && this.Context.Session.GetString("CurrentUserId") == comment.AuthorId.ToString()))
				{
					<a asp-action="EditComment" asp-route-id="@Model.PostId" asp-route-cid="@comment.CommentId" class="btn btn-primary">Edit Comment</a>
					<a asp-action="DeleteCommentV" asp-route-id="@Model.PostId" asp-route-cid="@comment.CommentId" class="btn btn-danger">Delete Comment</a>
				}

			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(postComment => comment.Content)
			</dd>
		</dl>
	}
</div>

@if (this.Context.Session.GetString("CurrentUserRole") != null)
{
	if (this.Context.Session.GetString("CurrentUserRole") == "Blocked")
	{
		<p>
			<span class="text-danger">You are blocked!</span>
		</p>
	}
	else
	{
		<div>
			<hr />
			<dl class="row">

				<dt class="col-sm-2">
					Enter your comment here:
				</dt>
				<dd class="col-sm-10">
					<form asp-action="Comment">

						<div class="form-group">
							<input asp-for="PostId" style="display: none" type="text" class="form-input bg-dark text-light" />
							<textarea name="commentText" class="form-control bg-dark text-light" rows="3"></textarea>
							<span class="text-danger">@TempData["CommentError"]</span>
						</div>
						<div class="form-group">
							<input type="submit" value="Comment" class="btn btn-primary" />
						</div>
					</form>
				</dd>
			</dl>
		</div>
	}
	<div>
		@if (this.Context.Session.GetString("CurrentUserRole") == "Admin" || this.Context.Session.GetString("CurrentUserRole") == "Moderator" || (this.Context.Session.GetString("CurrentUserRole") == "User" && this.Context.Session.GetString("CurrentUserId") == Model.AuthorId.ToString()))
		{
			<a asp-action="Edit" asp-route-id="@Model.PostId" class="btn btn-primary">Edit</a>
			<a asp-action="DeleteV" asp-route-id="@Model.PostId" class="btn btn-danger">Delete</a>
		}
		<a asp-action="Index" class="btn btn-secondary">Back to List</a>
	</div>
}
else
{
	<div>
		<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back to Homepage</a>
	</div>
}
