﻿@model PostViewEditDto

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="PostId" />
			<input type="hidden" asp-for="UpVotes" />
			<input type="hidden" asp-for="DownVotes" />
			<input type="hidden" asp-for="AuthorId" />
			<input type="hidden" asp-for="CreatedOn" />
			<input type="hidden" asp-for="ModifiedOn" />

			<div class="form-group">
				<label asp-for="Title" class="control-label"></label>
				<input asp-for="Title" class="form-control bg-dark text-light" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Content" class="control-label"></label>
				<textarea asp-for="Content" class="form-control bg-dark text-light" rows="3"></textarea>
				<span asp-validation-for="Content" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Tags" class="control-label"></label>
				<input asp-for="Tags" class="form-control bg-dark text-light" />
				<span asp-validation-for="Tags" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
