﻿@model CommentResponseDto

@{
	ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Post</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="EditComment">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="PostId" />
			<input type="hidden" asp-for="CommentId" />
			<input type="hidden" asp-for="CreatedOn" />
			<input type="hidden" asp-for="Title" />
			<input type="hidden" asp-for="AuthorId" />
			<input type="hidden" asp-for="AuthorUsername" />

			<div class="form-group">
				<label asp-for="Content" class="control-label"></label>
				<textarea asp-for="Content" class="form-control bg-dark text-light" rows="3"></textarea>
				<span asp-validation-for="Content" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
	}
