﻿@model IEnumerable<PostResponseDto>

@{
	ViewData["Title"] = "Index";
	ViewBag.Back = "Posts";
}

<h1>Index</h1>
<p>
	<a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<form asp-action="Index" class="form-check form-check-inline">
	<div class="form-group form-inline">
		<table class="formcontrols">
			<tr>
				<td>
					<label name="SearchQuery" class="control-label"><h3>Search posts:</h3></label>
				</td>
				<td style="padding-left:10px;">
					<input name="SearchQuery" style="padding-left:10px;" class="form-control bg-dark text-light" />
				</td>
				<td style="padding-left:10px;">
					<input type="submit" value="Search" class="btn btn-primary" />
				</td>
			</tr>
		</table>
	</div>
</form>

<table class="table text-light">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.UpVotes)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DownVotes)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				Author@*@Html.DisplayNameFor(model => model.AuthorUsername)*@
			</th>
			<th>
				<a asp-action="Index" asp-route-SortBy="created" asp-route-OrderBy="descending">&darr;</a>
				@Html.DisplayNameFor(model => model.CreatedOn)
				<a asp-action="Index" asp-route-SortBy="created" asp-route-OrderBy="ascending">&uarr;</a>

			</th>
			<th>
				<a asp-action="Index" asp-route-SortBy="modified" asp-route-OrderBy="descending">&darr;</a>
				@Html.DisplayNameFor(model => model.ModifiedOn)
				<a asp-action="Index" asp-route-SortBy="modified" asp-route-OrderBy="ascending">&uarr;</a>

			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th>
					<a asp-action="UpvoteV" asp-route-id="@item.PostId">&#10224;</a>
					@Html.DisplayFor(modelItem => item.UpVotes)
				</th>
				<th>
					<a asp-action="DownvoteV" asp-route-id="@item.PostId">&#10225;</a>
					@Html.DisplayFor(modelItem => item.DownVotes)
				</th>
				<td>
					<a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a>
					<div class="small">
						<table>
							<tr>
								@foreach (var tag in item.Tags)
								{
									<td>
										<a asp-action="Index" asp-route-FilterByTags="@tag.Tag">@tag.Tag</a>
									</td>
								}
							</tr>
						</table>
					</div>
				</td>
				<td>
					<a asp-controller="Users" asp-action="Details" asp-route-id="@item.AuthorId">@Html.DisplayFor(modelItem => item.AuthorUsername)</a>
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedOn)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModifiedOn)
				</td>
				@if (this.Context.Session.GetString("CurrentUserRole") == "Admin" || this.Context.Session.GetString("CurrentUserRole") == "Moderator" || (this.Context.Session.GetString("CurrentUserRole") == "User" && this.Context.Session.GetString("CurrentUserId") == item.AuthorId.ToString()))
				{
					<td>
						<a asp-action="Edit" asp-route-id="@item.PostId" class="btn btn-secondary">Edit</a>
						<a asp-action="DeleteV" asp-route-id="@item.PostId" class="btn btn-danger">Delete</a>
					</td>
				}
			</tr>
		}
	</tbody>
</table>
@{
	string previousButtonState = (ViewBag.Pagination.HasPreviosPage) ? "" : "disabled";
	string nextButtonState = (ViewBag.Pagination.HasNextPage) ? "" : "disabled";
}
<div class="form-group form-inline">

	<a asp-controller="Posts" asp-action="Index"
	   asp-route-PageNumber="@(ViewBag.Pagination.PageNumber - 1)"
	   class="btn btn-link @previousButtonState">
		Previous
	</a>
	@ViewBag.Pagination.PageNumber / @ViewBag.Pagination.TotalPages
	<a asp-controller="Posts" asp-action="Index"
	   asp-route-PageNumber="@(ViewBag.Pagination.PageNumber + 1)"
	   class="btn btn-link @nextButtonState">
		Next
	</a>
</div>