﻿@{
	ViewData["Title"] = "Home Page";
	ViewBag.Back = "Home";
}

@model Tuple<IEnumerable<PostResponseDto>, IEnumerable<PostResponseDto>>

<div class="text-center" class="bg-dark text-light">
	<h1 class="display-4">Hello and welcome to our Forum!</h1>
	<h3>We currently have @ViewData["UsersCount"] users, who have posted @ViewData["PostsCount"] posts.</h3>
	@if (this.Context.Session.GetString("CurrentUserRole") == null)
	{
		<p>Please use the menu to navigate. Log in or if you don't have a profile, please register.</p>
		
		<h2>Top 10 posts by comments</h2>
		<table class="table text-light">
	<thead>
		<tr>
			<th>
				UpVotes
			</th>
			<th>
				DownVotes
			</th>
			<th>
				Title
			</th>
			<th>
				Author
			</th>
			<th>
				Created On
			</th>
			<th>
				Modified On
			</th>
			<th></th>
		</tr>
	</thead>
		<tbody>
		@foreach (var item in Model.Item1)
		{
			<tr>
				<th>
					@Html.DisplayFor(modelItem => item.UpVotes)
				</th>
				<th>
					@Html.DisplayFor(modelItem => item.DownVotes)
				</th>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
					@*<a asp-controller="Posts" a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a>*@
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AuthorUsername)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedOn)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModifiedOn)
				</td>
			</tr>
		}
	</tbody>
</table>
		
		<h2>Top 10 most recent posts</h2>
		<table class="table text-light">
	<thead>
		<tr>
			<th>
				UpVotes
			</th>
			<th>
				DownVotes
			</th>
			<th>
				Title
			</th>
			<th>
				Author
			</th>
			<th>
				Created On
			</th>
			<th>
				Modified On
			</th>
			<th></th>
		</tr>
	</thead>
		<tbody>
		@foreach (var item in Model.Item2)
		{
			<tr>
				<th>
					@Html.DisplayFor(modelItem => item.UpVotes)
				</th>
				<th>
					@Html.DisplayFor(modelItem => item.DownVotes)
				</th>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
					@*<a asp-controller="Posts" a asp-action="Details" asp-route-id="@item.PostId">@Html.DisplayFor(modelItem => item.Title)</a>*@
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.AuthorUsername)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.CreatedOn)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.ModifiedOn)
				</td>
			</tr>
		}
	</tbody>
</table>
	}
	else
	{
		<p>Please use the menu to navigate. You are logged in as <b>@this.Context.Session.GetString("CurrentUser")</b></p>
	}
</div>
